# This .dockerignore follows an allowlist approach
# It ignores everything
*
# And adds what needs to be shipped
!gitleaks_config_generator.py
!gitleaks_config_generator_tests.py
!requirements.txt
!travis_check_secrets.sh
!global_config.toml